body {
  margin: 1em;
}

.App {
  position: relative;
  text-align: center;
}
.Chart {
  position: relative;
  height: 50vh;
  margin-bottom: 2em
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
}
.tooltip .tooltipright {
  top: -5px;
  left: 105%;
}
.tooltip .tooltipleft {
  top: -5px;
  right: 105%;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
